
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background-color: black;
}

@font-face {
  font-family: "Amidone" ;
  src: url("../assets/fonts/AmidoneGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}